.wrapper {
  margin-right: auto;
  margin-left: auto;

  padding-left: 10px;
  padding-right: 10px;

  max-width:600px; 

  background: rgba(32, 125, 196, 0.9);
  border-radius: 8px;

  color: #fff;
  font-family: 'Impact', 'Charcoal', 'sans-serif';
}

.character {

}

.list {
  padding-bottom: 1rem;
}
/* write your parent styles in here for your App.js */
